.first-div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../../assets/images/fondo.png');

  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  font-size: large;
}

.first-div button {
  background-color: #ee8326;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.first-div button:hover {
  background-color: #c76d21;
}

/* Estilos para el Segundo Div */
.second-div {
  background-color: white;
  display: flex;
}

.column {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator {
  width: 1px;
  background-color: #ccc;
  margin: 20px;
}

/* Estilos para el Tercer Div */
.third-div {
  background-color: #f3f3f3;
  display: flex;
}

.column {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.column h2 {
  color: #ee8326;
  font-size: large;
  font-weight: bold;
  margin-bottom: 15px;
}

.column p {
  color: #000000;
}
