<main>

  <div class="first-div">
    <div class="card">
      <p class="title">Vivamos sanos, Comamos sano</p>
      <p>Descubre las mejores recetas saludables, <br> hechas por nutricionistas</p>

      <a  [routerLink]="['/cocinaTuCuenta']">
        <button>¡Cocina tu Cuenta!</button>
      </a>

    </div>
  </div>

  <div class="second-div">
    <div class="column">
      <p>Si buscas  recetas, forma parte <br> de la comunidad y cuida tu salud.</p>
    </div>
    <div class="separator"></div>
    <div class="column">
      <p>Si eres nutricionista, crea recetas <br> y fomenta la alimentación sana.</p>
    </div>
  </div>

  <div class="third-div">
    <div class="column">
      <h2>MISIÓN</h2>
      <p>Inspirar hábitos alimenticios <br> saludables y sostenibles a través <br> de recetas expertas y accesibles.</p>
    </div>
    <div class="column">
      <h2>VISIÓN</h2>
      <p>Crear un mundo donde la comida <br> saludable sea fácil, deliciosa y <br> esté al alcance de todos.</p>
    </div>
    <div class="column">
      <h2>RESPONSABILIDAD SOCIAL</h2>
      <p>Promover la sostenibilidad <br> ambiental incentivando práctica <br> ecoamigables y saludables.</p>
    </div>
  </div>

</main>
