.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.card-content {
  display: flex;
}

.preview {
  max-width: 200px;
}

.card {
  background-color: #fff;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
  font-size: large;
  text-align: center;
  color: #ee8326;
}

.card h3 {
  font-weight: bold;
  text-align: left;
  color: #ee8326;
  margin-bottom: 15px;
}

.column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -35px;
}

.column-left p {
  font-weight: bold;
  margin-bottom: 30px;
}

.column-right {
  flex: 2;
  text-align: justify-all;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.row label {
  margin-bottom: 20px;
  font-size: small;
  font-weight: bold;
}

.change-photo-button {
  background-color: #ee8326;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.profile-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
