<main>
  <div class="sidebar">
    <h2>Categorías</h2>

    <ul>
      <li>
        <a [routerLink]="['/categoria/desayuno']" [routerLinkActive]="['active']">
          <img
            src="/desayuno-icon.png"
            alt="Desayuno Icon"
          />
          <span>Desayuno</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/categoria/almuerzo']" [routerLinkActive]="['active']">
          <img
            src="/almuerzo-icon.png"
            alt="Almuerzo Icon"
          />
          <span>Almuerzo</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/categoria/cena']" [routerLinkActive]="['active']">
          <img
            src="/cena-icon.png"
            alt="CEna Icon"
          />
          <span>Cena</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/categoria/postres']" [routerLinkActive]="['active']">
          <img
            src="/postres-icon.png"
            alt="Postres Icon"
          />
          <span>Postres</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/categoria/superavit']" [routerLinkActive]="['active']">
          <img
            src="/superavit-icon.png"
            alt="Superávit Icon"
          />
          <span>Superávit</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/categoria/deficit']" [routerLinkActive]="['active']">
          <img
            src="/deficit-icon.png"
            alt="Déficit Icon"
          />
          <span>Déficit</span>
        </a>
      </li>

    </ul>
  </div>
</main>
