
<div class="flex justify-center items-center h-auto" style="height: 52pc">

  <div class="flex flex-col items-center p-10  shadow-lg" style="background: #ffffff">

    <p class="text-xl text-black mb-10 font-semibold">FELICITACIONES, <br> Se ha verificado tu cuenta,
      disfruta de todos nuestros servicios. </p>

    <img src="/logo_FoodHub.png" alt="Logo" class="h-28 mb-10">







    <div class="flex justify-center mt-5 ">
      <button (click)="verificarCuenta()"
              class=" text-xl text-black rounded-xl px-10 py-3 font-semibold inline-block"
              style="background: #F7941F" [routerLink]="['/iniciarSesion']" >Volver al inicio</button>
    </div>


  </div>
</div>
