.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  height: 74vh;
}

.container {
  padding: 20px;
  text-align: center;
}

.container h2 {
  margin-bottom: 30px;
  color: #ee8326;
  font-size: large;
  font-weight: bold;
}

.crear-receta-btn {
  background-color: #ee8326;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
}
