<main>

  <div class="formulario-container">
    <div class="formulario-card">

      <h2>Regístrate y Sé <br> parte de FoodHub</h2>
      <h3>Conviértete en Creador</h3>
      <p>Un creado es un nutricionista, para crear una cuenta <br> debes validar tu código de colegiado.</p>

      <form (ngSubmit)="registrarCreador()">

        <label for="nombre" [class.error]="errorNombre">Nombres: *</label>
        <input type="text" placeholder="Ingrese sus Nombres *" id="nombre" required name="nombre" [(ngModel)]="creadorDTO.nombre">

        <label for="apellidoPaterno" [class.error]="errorRegistro">Apellido Paterno: *</label>
        <input type="text" placeholder="Ingrese Apellido Paterno *" id="apellidoPaterno" required name="apellidoPaterno" [(ngModel)]="creadorDTO.apellidoPaterno">

        <label for="apellidoMaterno" [class.error]="errorRegistro">Apellido Materno: *</label>
        <input type="text" placeholder="Ingrese Apellido Materno *" id="apellidoMaterno" required name="apellidoMaterno" [(ngModel)]="creadorDTO.apellidoMaterno">

        <label for="correoElectronico" [class.error]="errorCorreo">Correo Electrónico: *</label>
        <input type="email" placeholder="Ingrese Correo Electrónico *" id="correoElectronico" required name="correoElectronico" [(ngModel)]="creadorDTO.correoElectronico">

        <label for="contrasenia" [class.error]="errorRegistro || errorContrasenia">Contraseña: *</label>
        <input type="password" placeholder="********" id="contrasenia" required name="contrasenia" [(ngModel)]="creadorDTO.contrasenia">

        <label for="codigoColegiatura" [class.error]="errorCodigoColegiatura">Código de Colegiado: *</label>
        <input type="text" placeholder="012345" maxlength="6" id="codigoColegiatura" required name="codigoColegiatura" [(ngModel)]="creadorDTO.codigoColegiatura">

        <button type="submit" [disabled]="cargando">
          @if (!cargando) {
            <span>Crear cuenta</span>
          }
          @else {
            <span>Procesando...</span>
          }
        </button>

        <p class="obligatorio-texto">* Todos los campos son obligatorios y deben ser llenados.</p>

        @if (errorRegistro) {
          <p class="error-message">{{ mensajeError }}</p>
        }

      </form>

    </div>

    @if (mostrarModalCuentaCreada) {
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center">
        <div class="bg-white p-4 rounded-md shadow-lg">
          <p class="text-2xl font-bold mb-4">Cuenta creada</p>
          <p>Se ha enviado un mensaje de activación a tu correo electrónico</p>

          <button (click)="cerrarModalCuentaCreada()" class="bg-blue-500 text-white px-4 py-2 mt-4 rounded">
            Cerrar
          </button>

        </div>
      </div>
    }
  </div>

</main>

